body {
   background-color:rgb(53, 53, 122);
   color: white;
   font-family: "Mozilla Headline",sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
 }

button {
   background-color: rgb(17, 22, 22);
   color: white;
   font-family:"Mozilla Headline", sans-serif;
}

.passo {
  display: none;
}

.passo.ativo{
  display:block;
}








